<div class="btn btn-danger btn-large foodtruck-days-informations">
  <p>
    <%= open_day.name_of_day %>
    <%= open_day.time_opened_hour %>
    |
    <%=open_day.time_closed_hour%>
  </p>
  <p>
    <%= open_day.address %>
  </p>
</div>
