<div class="container">
  <h4>
    Liste des foodtrucks de
    <%= @city %>
  </h4>
  <% @food_trucks.each do |food_truck| %>
    <%= link_to food_truck do  %>
      <p><%= food_truck.name %></p>

    <% end %>
  <% end %>
</div>
