h2 p{
  color:grey;
}

.foodtruck-card {
  border: solid 1px;
  border-radius: 3px;
  box-shadow: 5px 5px 10px #DDD;
  padding: 5px;
  margin-bottom: 10px;
  height: 150px;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.foodtruck-card-open, .foodtruck-card-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #45FD57;
  border: solid 1px #2EA93B;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  color: #FFF;
  line-height: 50px;
  text-align: center;
  p {
    font-size: 10px;
  }
}

.foodtruck-card-close {
  background-color: red;
  border: solid 1px #ABABAB;
  font-size: 12px;
}



.foodtruck-card-name {
  background-color: red;
  width: 50%;
  color: #FFF;
  position: absolute;
  padding-left: 10px;
  left: 0;
}

.foodtruck-card-address {
  position: absolute;
  color: #FFF;
  top: 25px;
  left: 0;
  padding-left: 10px;
  text-shadow: 1px 1px 1px #000;
}

.food_truck-card-hour {
  position: absolute;
  top: 40px;
  color: #FFF;
  left: 10px;
  text-shadow: 1px 1px 1px #000;
}

.food_truck-card-phone {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.food_truck-card-category {
  position: absolute;
  bottom: 10px;
  color: #FFF;
  left: 10px;
  text-shadow: 1px 1px 1px #000;
}

.foodtruck-days-informations {
  width: 100%;
  margin-bottom: 10px;
}

.foodtruck-picture {
  height: 200px;
  background-size: cover;
}
