.foodtruck-background {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 10px;
  width: 100%;
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  h2, p
    {
      color: #FFF;
    }

}

.home-punchline {
  text-align: center;
}

.home-elements {
  height:80%;
  display: flex;
  align-items: center;
}
