<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <% @pizzas.each do |pizza| %>
        <p>
          <%= pizza.name %> | <%= pizza.price %>€
        </p>

        <p>
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          <% pizza.ingredients.each do |ingredient| %>
            <%= ingredient.name %>|
          <% end %>
        </p>
        <hr>
        <% end %>
    </div>
  </div>
</div>
