<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Pizzas", pizzas_path, class: "btn btn-primary " %>

<%= link_to "Add a pizza", new_pizza_path, class: "btn btn-primary " %>
