<div class="foodtruck-background" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%=helper_picture_background()%>);">
  <div class="home-elements">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 home-punchline">
          <h2>Trouver un foodtruck...</h2>
        </div>
        <%= simple_form_for :search, url: food_trucks_path, method: :get do |f| %>
            <div class="col-xs-8">
              <%= f.input :city, label: false, placeholder: 'Saisissez la ville' %>
            </div>
            <div class="col-xs-4">
              <%= f.button :submit, 'Chercher', class: 'btn btn-danger' %>
            </div>
        <%end%>
      </div>
      <div class="col-xs-12 text-center">
        <a href="tel:0662262352" class="btn btn-success btn-large">Une information ? Appelez moi!</a>
      </div>
    </div>
  </div>
</div>
