<div class="foodtruck-background" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%=helper_picture_background()%>);">
  <div class="home-elements">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 home-punchline">
          <h2>Trouver un foodtruck...</h2>
        </div>
        <%= simple_form_for :search, url: food_trucks_path, method: :get do |f| %>
            <div class="col-xs-9">
              <%= f.input :city, label: false, placeholder: 'Où ?' %>
            </div>
            <div class="col-xs-2">
              <%= f.button :submit, 'Go' %>
            </div>
        <%end%>
      </div>
      <div>
        <a href="tel:0662262352">Call to the number 06.62.26.23.52</a>
      </div>
    </div>
  </div>
</div>
